.banner {
  position: relative;
  font-family: $font-family-title;
  &__form {
    @include absCenter;
    top: 120px;
    background: rgba(40,40,40,.7);
    width: 310px;
    padding: 15px;
    @include tablet {
      top: 190px;
    }
    @include desktopSmall {
      top: 110px;
      display: flex;
      width: 750px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 7% 35px;
    }
    @include desktopMedium {
      top: 180px;
    }
    @include desktopLarge {
      top: 200px;
    }
    @include desktopMega {
      top: 290px;
    }
    h2 {
      text-shadow: 1px 1px 1px black;
      color: white;
      font-size: $font-size-large;
      text-align: center;
      @include desktopSmall {
        width: 100%;
        font-size: $font-size-mega;
      }
      @include desktopMedium {
        font-size: calculateRem(30px);
        letter-spacing: 1.2px;
      }
    }
    select {
      height: 43px;
      background: white;
      width: 210px;
      border: 1px solid $color-green;
      color: #585858;
      font-size: $font-size-medium;
      text-indent: 5px;
      width: 80%;
      margin-left: 10%;
      @include desktopSmall {
        padding-left: 20px;
        height: 50px;
        margin-left: 0;
        width: 30%;
        @include backgroundIcon('location.svg', 22px, 5px center)
      }
    }
    &-radios {
      width: 80%;
      margin:7px 10% 20px;
      display: flex;
      justify-content: space-between;
      @include desktopSmall {
        margin-top: 0;
        width: 29%;
        margin-left: 0;
        margin-right: 0;
      }
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: white;
        color: $color-green;
        top: 10px;
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 6px;
        cursor: pointer;     
        margin-right: 5px;
        outline: none;
      }
      input:checked::before {
        position: absolute;
        left: 10px;
        top: 3px;
        font-size: $font-size-xxlarge;
        content: '\02143';
        transform: rotate(40deg);
        font-weight: 900;
      }
      input:hover {
        background-color: #f7f7f7;
      }
      input:checked {
        background-color: #f1f1f1;
      }
      label {
        font-weight: 900;
        cursor: pointer;
        color: white;
        font-size: $font-size-medium;
      }
    }
    button { 
      font-family: $font-family-title;
      width: 80%;
      height: 42px;
      margin-left: 10%;
      background-color: #f9b942;
      outline: 1px solid #f9b942;
      color: #fff;
      font-weight: 900;
      border: none;
      font-size: $font-size-large;
      letter-spacing: 1.2px;
      padding-top: 3px;
      text-transform: uppercase;
      @include desktopSmall {
        @include backgroundIcon('right-arrow-white.svg', 14px, 91% 17px)
        height: 48px;
        width: 25%;
        margin-left: 0;
      }
    }
  }
}




