@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Font size as rem
@mixin fontSize($size) {
  font-size: calculateRem($size);
}

// Line height as rem
@mixin lineHeight($size) {
  line-height: calculateRem($size);
}

@mixin greenBorder {
  border: 5px solid #dbf6d4;
  border-radius: 5px;
}
@mixin showTextShadow {
  text-shadow: 1px 1px 1px black;
  color: white;
}

@mixin navbarGap {
  margin-top: 60px;
  @include desktopSmall {
    margin-top: 63px;
  }
}

// background icon
@mixin backgroundIcon($imgPath, $size, $position) {
  $path: "/static/images/icons/" + $imgPath;
  background-image: url(#{$path});
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
}

@mixin hoverGreen {
  color: white;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: $color-green;
  }
}

// Rem Coverter
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// Break points
@mixin tablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin desktopSmall {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktopMedium {
  @media (min-width: 1310px) {
    @content;
  }
}

@mixin desktopLarge {
  @media (min-width: 1420px) {
    @content;
  }
}

@mixin desktopMega {
  @media (min-width: 1920px) {
    @content;
  }
}
