doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/static/admin/styles/console.css')
    link(rel='stylesheet', href='/static/admin/styles/navigation.css')
  body
    .nav
      a(href="/admin/payments") Payments
      a(href="/admin/users") Users
      a(href="/admin/adverts") Adverts
      a(href="/admin/enquires") Enquires
      a(href="/admin/emails") Emails
      a.logout(href="/admin/logout") Logout
    .alert=alert
    .console