.contactus {
  width: 90%;
  margin: 80px auto 10vh;
  @include desktopSmall {
    margin-top: 14vh;
    margin-bottom: 15vh;
  }
  form {
    width: 270px;
    * {
      display: block;
    }
    @include desktopSmall {
      width: 460px;
    }
  }
  &__info {
    margin: 20px 0;
    font-family: $font-family-title;
    div {
      margin-bottom: 4px;
    }
  }
}
