.pagination-bar {
  display: flex;
  display: inline-block;
  margin-left: calc(50% - 166px);
  margin-top: 30px;
  @include desktopSmall {
    margin-top: 50px;
  }
  button {
    height: 42px;
    border: 1px solid #cdd6de;
    font-size: $font-size-small;
    font-family: $font-family-body;
    background-color: #fff;
    color: $color-black;
    &:hover {
      border-color: $color-green;
      color: $color-green;
    }
  }
  &--large-btn {
    float: left;
    width: 43px;
    @include tablet {
      width: 76px;
    }
  }
  .previous {
    padding-top: 4px;
    margin-right: 10px;
    @include tablet {
      @include backgroundIcon("left-arrow-gray.svg", 22px, 8px center);
      text-indent: 24px;
      &:hover {
        background-image: url("/static/images/icons/left-arrow-green.svg");
      }
    }
  }
  .next {
    padding-top: 3px;
    margin-left: 10px;
    @include tablet {
      text-align: left;
      text-indent: 5px;
      @include backgroundIcon("right-arrow-gray.svg", 22px, 45px center);
      &:hover {
        background-image: url("/static/images/icons/right-arrow-green.svg");
      }
    }
  }
  &__pages {
    float: left;
    &-btn {
      font-weight: 900;
      width: 29px;
      padding-top: 3px;
      @include tablet {
        width: 45px;
      }
    }
    button.active-page {
      border-color: $color-green;
      @include backgroundIcon("up-arrow.svg", 9px, center 28px);
    }
  }
  &--results {
    font-family: $font-family-title;
    color: $color-black;
    font-size: $font-size-medium;
    text-align: center;
    padding-top: 40px;
    b {
      border-bottom: 1px solid;
    }
  }
}
