.banner {
  position: relative;
  z-index: 1;
  font-family: $font-family-title;
  @include navbarGap;
  &__overlay {
    @include absCenter;
    top: 120px;
    background: rgba(40, 40, 40, 0.8);
    width: 310px;
    height: 226px;
    padding: 15px;
    @include tablet {
      top: 190px;
    }
    @include desktopSmall {
      top: 110px;
      display: flex;
      width: 720px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 18px 4% 38px;
    }
    @include desktopMedium {
      top: 170px;
    }
    @include desktopLarge {
      top: 190px;
    }
    @include desktopMega {
      top: 260px;
    }
    .ais-InstantSearch__root {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

    }
    h2 {
      @include showTextShadow;
      font-size: $font-size-xlarge;
      text-align: center;
      @include desktopSmall {
        width: 100%;
        font-size: calculateRem(30px);
      }
      @include desktopMedium {
        font-size: calculateRem(32px);
        letter-spacing: 1.2px;
      }
    }
    form.ais-SearchBox-form {
      display: flex;
      justify-content: center;
      .ais-SearchBox-input {
        order: 1;
        height: 43px;
        background: white;
        border: none;
        color: #585858;
        font-size: $font-size-large;
        outline: none;
        text-indent: 14px;
        width: 80%;
        @include desktopSmall {
          padding-left: 20px;
          height: 50px;
          @include backgroundIcon("location.svg", 22px, 10px center);
        }
      }
      .ais-SearchBox-input::placeholder {
        font-family: $font-family-title;
      }
      button.ais-SearchBox-submit {
        order: 2;
        width: 30px;
        height: 41px;
        margin-top: 1px;
        background-color: $color-yellow;
        outline: 1px solid $color-yellow;
        color: #fff;
        border: none;
        padding-bottom: 4px;
        @include desktopSmall {
          height: 48px;
          width: 25%;
        }
      }
      button.ais-SearchBox-reset {
        display: none;
      }
    }
  }
  .ais-Stats {
    color: white;
    background: -moz-linear-gradient(left, rgba(40,40,40,1) 15%, rgba(40,40,40,0.58) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(40,40,40,1) 15%,rgba(40,40,40,0.58) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(40,40,40,1) 15%,rgba(40,40,40,0.58) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    width: calc(90% + 3px);
    padding: 5px;
    font-style: italic;
    margin: 0 auto;
    @include desktopSmall { 
      width: 100%;
    }
  }
  .ais-Hits {
        background: rgba(255, 255, 255, 0.9);
    border: 1px solid lightgray;
    display: none;
    max-height: 420px;
    overflow-y: scroll; 
    &::-webkit-scrollbar {
      width: 7px;
      background-color: #f5f5f5;
    }
    ul {
      padding: 0;
      margin:0;
      li {
        list-style: none;
      }
      .searched a {
        display: block;
        padding: 14px 10px;
        transition: .2s;
        border-left: 3px solid #f2f2f2;
        &:hover {
          background: #f2f2f2;
          border-left-color: $color-green;
        }
        small {
          color: #777777;
          font-family: $font-family-title;
          font-weight: 900;
          margin-left: 4px;
        }
        .ais-Highlight {
          color: $color-black;
          border-bottom: 1px solid #3700ff;
        }
      }
    }
  }
}
