.show-navigation-menu {
  display: block!important;
}
.animate-burger-icon {
  .top {
    transform: rotate(-40deg) translateY(9px);
  }
  .bottom {
    transform: rotate(40deg) translateY(-9px);
  }
  .middle {
    opacity: 0!important;
  }
}
.show-location-menu {
  display: block!important;
}
.replace-arrow-with-close {
  background-image: url('/static/images/icons/close-green.svg');
}