.show-navigation-menu {
  display: block !important;
}
.animate-burger-icon {
  .top {
    transform: rotate(-40deg) translateY(9px);
  }
  .bottom {
    transform: rotate(40deg) translateY(-9px);
  }
  .middle {
    opacity: 0 !important;
  }
}
.show-location-menu {
  display: block !important;
}
.replace-arrow-with-close {
  background-image: url("/static/images/icons/close-green.svg");
}
.button-loader {
  background-image: url("/static/images/icons/button-loader.gif") !important;
  background-size: 32px !important;
  background-repeat: no-repeat !important;
  background-position: 95% center !important;
  padding-right: 5% !important;
}
.expose-social-media-share-icons {
  height: 50px !important;
  opacity: 1 !important;
}
.expose-contact-icons {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.display-filter-options {
  height: 180px !important;
  opacity: 1 !important;
  @include desktopSmall {
    height: 80px !important;
  }
}
.active-button-msg {
  position: relative;
  &:after {
    color: tomato;
    content: 'Select';
    text-align: center;
    font-weight: 900;
    font-family: $font-family-title;
    display: block;
    position: absolute;
    width: 70px;
    height: 73px;
    top: 44px;
    left:-15px;
    @include backgroundIcon('left-down-arrow-curve.svg', 37px, left center);
    @include desktopSmall {
      width: 70px;
      height: 76px;
      top: 80px;
      background-size: 30px;
    }
  }
}