 <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width"><title>WeGhana Property</title> 
  </head>
  <body  style="font-family: 'verdana',sans-serif;color:#313c53;">
    <table style="background:#f5f7f8;width:100%;padding:0;margin:0;border-collapse:collapse;max-width:100%;width:550px;border-radius:5px;">
      <tr><td style="padding:10px 30px;text-align:center;margin:0;font-size:25px;">WeGhana Property</td></tr>
      <tr><td><p style="padding:10px 30px;margin:0;font-size:15px;color:#ff4436;"><a href=`https://weghanaproperty.com/api/user/email-confirmation?id={{userId}}`>Click this link to confirm your account!</a></p></td></tr>
    </table>
  </body></html>
